 .u-section-1 {
  background-image: url("images/TestfrontpagePnPvierge.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 894px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0 48px;
}

.u-section-1 .u-btn-1 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  font-size: 0.888889rem;
  text-decoration: none !important;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -28px auto 0;
}

.u-section-1 .u-image-2 {
  width: 187px;
  height: 90px;
  filter: brightness(0);
  margin: 40px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 118px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.9;
  width: 482px;
  font-size: 1rem;
  font-family: HelveticaNeue97BlackCondensed;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  text-transform: uppercase;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: HelveticaNeue97BlackCondensed;
  text-transform: uppercase;
  font-weight: normal;
  margin: 40px auto 0 429px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 2.7778em;
  vertical-align: -10px;
  margin-right: 10px;
}

.u-section-1 .u-btn-5 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: HelveticaNeue97BlackCondensed;
  text-transform: uppercase;
  font-weight: normal;
  margin: -70px auto 60px 585px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 2.7778em;
  vertical-align: -10px;
  margin-right: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 97px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 329px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: -149px;
    margin-left: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 219px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: -213px;
    margin-left: 375px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 193px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -220px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -155px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 107px;
    margin-left: 39px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 27px;
    margin-left: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 239px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -131px;
  }

  .u-section-1 .u-text-2 {
    width: 360px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 89px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: -43px;
    margin-left: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 137px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 641px;
}

.u-section-3 .u-video-1 {
  height: 641px;
  --animation-custom_in-scale: 0.9;
  --animation-custom_in-opacity: 0.2;
  margin: 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-video-1 {
    height: 529px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-3 .u-video-1 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-video-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 537px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.27778rem;
  line-height: 1.4;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.9;
  margin: 0 1px;
}

.u-section-4 .u-btn-1 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  font-size: 1.27778rem;
  font-style: normal;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.27778rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.9;
  margin: 50px 1px 0;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 51px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.9;
  margin: 1px auto 60px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 1px auto 0 270px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: -50px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: -50px auto 0 420px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.9;
  }

  .u-section-4 .u-icon-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.9;
  }

  .u-section-4 .u-icon-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.9;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    min-height: 50px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
    margin-left: 230px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 230px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.777778rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.777778rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.777778rem;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 160px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 70px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 70px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1371px;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  min-height: 1311px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.9;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-gallery-1 {
  height: 1311px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-5 .u-group-1 {
    min-height: 1081px;
    height: auto;
  }

  .u-section-5 .u-gallery-1 {
    height: 1081px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1923px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1863px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-5 .u-gallery-1 {
    height: 5589px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3726px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 260px;
}

.u-section-6 .u-group-1 {
  min-height: 75px;
  border-style: solid;
  height: auto;
  margin: 0;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 185px;
}

.u-section-6 .u-container-layout-2 {
  padding: 27px 30px 30px 50px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  line-height: 1.4;
  font-style: italic;
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.4;
  font-size: 1rem;
  margin: 39px 0 0;
}

.u-section-6 .u-btn-1 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  font-size: 1rem;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  font-size: 1rem;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  line-height: 1.8;
  font-family: HelveticaNeue97BlackCondensed;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.9;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 153px;
  }

  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.9;
  }

  .u-section-6 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.9;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.777778rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.777778rem;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.777778rem;
  }

  .u-section-6 .u-btn-2 {
    font-size: 0.777778rem;
  }

  .u-section-6 .u-btn-3 {
    font-size: 0.777778rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 29px 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
}.u-section-1 {
  width: 100%;
  height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.u-section-1 .image-1 {
  height: 100%;
  width: 100%;
}
.u-section-1 .u-btn-1 {
    max-width: 100%; /* Largeur maximale */
    height: 25vh; /* 5% de la hauteur de la fenêtre */
	width: auto; /* Ajuste la largeur pour maintenir le ratio d'aspect */
	margin-top: -500vh; /* Marge supérieure qui s'adapte, jusqu'à -120px */
}
.u-header .u-icon-1:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-2:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-3:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-4:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-5:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-6:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-7:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-8:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-9:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-10:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-11:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-12:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-header .u-icon-13:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-1:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-2:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-3:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-4:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-5:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-6:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-7:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-8:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-9:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-10:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-11:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-4 .u-icon-12:hover {
  filter: brightness(0) invert(1) !important; 
}
.u-section-1 .image-1 {
    pointer-events: none;
}
.u-section-1 .image-2 {
    pointer-events: none;
}
.u-section-1 .image-3 {
    pointer-events: none;
}@font-face {
  font-family: 'HelveticaNeue97BlackCondensed';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue97BlackCondensed.otf);
}@font-face {
  font-family: 'HelveticaNeue67MediumCondensed';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue67MediumCondensed.otf);
}@font-face {
  font-family: 'EVANGELIONREGULAR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/EVANGELIONREGULAR.otf);
}